<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="2px">
            <thead>
                <tr>
                    <th>Emp number</th>
                    <th>Emp Nmae</th>
                    <th>Dept Number</th>
                </tr>
            </thead>
            <tbody>
                {% for x in EO %}
                    <tr>
                        <td>{{x.empno}}</td>
                        <td>{{x.ename}}</td>
                        <td>{{x.deptno}}</td>
                    </tr>
                {% endfor %}
        </tbody>

        </table>
    </center>
</body>
</html>