<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}

            <label for="dpo">Deptno</label>
            <input type="number" name="dpo" id="dpo">
            <br><br>
            <label for="dname">Deptn Name</label>
            <input type="text" name="dname" id="dname">
            <br><br>
            <label for="loc">Location</label>
            <input type="text" name="loc" id="loc">
            <br><br>
            <input type="submit" value="insert_dept">
        </form>
    </center>
</body>
</html>